@import url("https://fonts.googleapis.com/css2?family=Farro:wght@700&display=swap");

.app-container {
	min-height: 100vh;
	width: 100vw;

	background-color: #1e1f1e;
	color: white;

	font-family: "Farro", sans-serif;
	font-size: 22px;

	overflow: hidden;
}

.controls {
	max-width: 500px;

	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	.label {
		margin-right: 8px;
	}
	.select {
		font-family: inherit;
		font-size: inherit;
		border: none;
		padding: 6px;
	}
}
